
.job_list {
    list-style: none;
    padding: 0;
}

.job_item {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 10px;
}

/* 

const [locations, setLocations] = useState([
    "Berlin",
    "Toronto, Canada (or remote within Canada)",
    "Portland, ME (Remote OK)",
    "eindhoven ",
    "Frankfurt, Germany (remote within Germany)",
    "Croeselaan 18, 3521CB, Utrecht",
    "Dresden",
    "Aachen",
    "Eindhoven",
    "Budapest",
    "Munch Germany ",
    "St. Helier, Jersey",
    "Munich Germany",
    "Vernon Hills, IL (Chicago)",
    "Remote (US Pacific TZ)",
    "Remote in U.S.",
    "Zurich",
    "Utrecht ",
    "Chennai",
    "Barcelona",
    "Bangalore",
    "München",
    "Fort Gordon, GA",
    "Austin, TX",
    "Munich",
    "Hamburg",
    "Aalsmeer",
    "Delft",
    "Europe (remote)",
    "Cologne, Germany",
    "Philadelphia",
    "Holzwickede"
    ])*/